*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

nav{
    width: 100%;
    height: 90px;
    background-color: rgb(0, 238, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

nav img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

nav button{
    background-color: transparent;
    border: none;
}

button:focus{
    outline: none;
}

form{
    position: absolute;
    top: 130px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 25vw;
    min-width: 350px;
    border: 3px solid black;
    min-height: 450px;
    background-color: rgb(0, 217, 255);
    font-size: 16px;
    border-radius: 50px;
}

.inputField{
    position: relative;
    width: 300px;
    height: 25px;
}

.inputField input, .inputField label{
    position: absolute;
    padding: 6px;
    border-radius: 15px;
}

input:focus{
    outline: none;
}

.inputField input{
    width: 100%;
    height: 100%;
    border: none;
}

.inputField label{
    top: 5px;
    left: 10px;
    pointer-events: none;
    transition: .5s;
    border-radius: 15px;
}

.inputField input:focus~label{
    top: -25px;
    left: 0;
    font-size: 15px;
    color: white;
}

.errmsg{
    position: absolute;
    display: none;
    top: 130px;
    font-size: 25px;
    background-color: white;
    border: 5px solid red;
    border-radius: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 10;
    transition: .5s;
}

.active{
    display: flex;
}

.formbut{
    padding: 7px 50px;
    background-color: black;
    color: white;
    border-radius: 15px;
}

.updateForm img{
    width: 50px;
    align-self: flex-end;
    margin-right: 15px;
}

.view{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.bookCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    width: 250px;
    height: 250px;
    background-color: rgb(0, 255, 200);
    margin-top: 30px;
    margin-left: 20px;
    overflow: hidden;
    box-shadow: 1px 1px 10px 1px black;
}

.bookcardHov{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: 100%;
    width: 100%;
    height: 30px;
    transition: .5s;
}

.bookcardHov img{
    width: 30px;
}

.bookCard:hover .bookcardHov{
    top: 0;
}

.coll{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 150px;
    background-color: rgb(0, 217, 255);
    width: 340px;
    height: 480px;
    padding: 10px;
    z-index: 100;
}

.coll img{
    width: 40px;
    align-self: flex-end;
    justify-self: flex-start;
}

.activ{
    display: none;
}

.coll .fieldAdd{
    display: flex;
    flex-direction: column;
    height: 150px;
    align-items: center;
    justify-content: space-evenly;
}

.collChild{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
    overflow-y: auto;
}

.collChild::-webkit-scrollbar{
    width: 10px;
    border: none;
    background-color: blue;
}

.collChild::-webkit-scrollbar-thumb{
    background-color: black;
    width: 10px;
}

.collChild div{
    margin-bottom: 10px;
}